<p id="notice"><%= notice %></p>

<h1>Detalhes da Companhia</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @company.id %></td>
      <td><%= @company.name %></td>
    </tr>
  </tbody>
</table>

<div class="actions">
  <%= link_to 'Editar', edit_company_path(@company), class: 'btn btn-primary' %>
  <%= link_to 'Voltar', companies_path, class: 'btn btn-secondary' %>
</div>
